@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap');

:root{
    --primary-color:#16aa1d;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    background: #000;
    color: #fff;
    font-size: 1.1rem;
    line-height: 1.6rem;
}

h1, h2, h3, h4{
    line-height: 3rem;
}

a{
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

/* header */

.main-header{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(../images/burger.jpg) no-repeat center center/cover;

}

.main-header::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5);
    z-index: 1;
}

.header-top{
    position:relative;
    height: 90px;
    z-index: 2;
}

.header-top .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-top a{
    position: absolute;
    top: 40%;
    right: 0;
    transform: translate(-50%, -50%);

}

.header-content{
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;
    z-index: 2;

}

.header-content h1{
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.3rem;
    margin: 0 0 2rem;
}

.header-content p{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.25rem;
    margin: 1rem 2rem;
}

.header-content a{
    margin-top: 2rem;
}

/* Section Gallery */

section.gallery{
    background: #000;
    width: 100%;
}

section.gallery .gallery-container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "box1 box2 box2" "box1 box3 box3";
}

section.gallery .gallery-container a:first-child{
    grid-area: box1;
    padding: 1rem;
}

section.gallery .gallery-container a:nth-child{
    grid-area: box2;
    padding: 1rem;
}

section.gallery .gallery-container a:last-child{
    grid-area: box3;
    padding: 1rem;
}

.img-container{
    position: relative;
    display: inline-block;
}


.img-container .text-container{
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6);
    transition: all .3s ease-in-out;
}

.img-container .text-container:hover{
    opacity: 1;

}

.img-container .text-container {
    font-size: 3rem;
    line-height: 3rem;
}

.about-section{
    position: relative;
    background: url(../images/pexels-valeria-boltneva-1893557.jpg) no-repeat center center/cover;
    height: 700px;
}

/* utilities */

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}

.btn{
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border:0;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 1px 0 rgba(0,0,0,0.45);
    border-radius: 2px;
}

.btn:hover{
    opacity:0.9;

}

.btn-rounded{
    border-radius: 5px;
}

.btn-xl{
    font-size: 1.9rem;
    padding: 1rem 2.1 rem;
    text-transform: uppercase;
}

.btn-lg{
    font-size: 1.2rem;
    padding: 0.8rem 1.3 rem;
    text-transform: uppercase;
}

.fa-fw{
    margin-left: 1rem;
}

